/*-----Prevents fonts iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; 
/*----------- apply a natural box layout model to all elements. meant to support really old browsers --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

}

body {
        font-family: "Mukta", sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal; 
}

/*-----HEADER -----*/
#headerWrapper {
	background-color: #FFC0BE;
}
header {
	padding: 1em 2% .5em 2%;
}

header h1 {
	font-size: 2.1em;
	color: #878E88;
}
header h2 {
	font-size: .9em;
	font-weight: 300;
	color: #878E88;
	margin-top: .75em;
}

/* NAVIGATION */
#navWrapper {
    background-color: #FFEBE7;
    padding: .75em 2%;
}

ul#myNav {
    display: none;
}

button#showPhoneNav {
    color: #878E88;
    font-weight: 500;
    display: block;
    border: 1px solid #F5DC00;
    border-radius: 1.5em;
    background-color: #FFF7AD;
    width: 100%;
    padding: .75em 0;
}

nav ul {
    border: 1px #ccc solid;
    border-radius: .5em;
    margin: .5em 2%;
    background-color: rgba(255, 255, 255, 0.8);
}

nav ul li a {
    display:block;
    text-align: center;
    padding: .6em;
    border-top: 1px #ccc solid;
    color: #000;
    text-decoration: none;
    font-weight: 700px;
}

/* removes the line added from the border-top element above */
nav ul li:first-child a{
    border-top: none;
}

nav ul li.active a {
    color: #A0D2DB;
}


/* NAV STUFF */
/* #navWrapper {
    background-color: #FAF3DD;
}

nav ul {
    padding: 1em 0;
}

nav ul li {
    margin: 0 2%;
    width: 46%;
    float: left;
}

nav ul li a {
    display: block;
    text-align:center;
    font-weight: 700;
    text-decoration: none;
    color: #5E6472;
    background-color: rgba(0,0,0,0.05);
    margin: .2em 0;
    padding: .6em 0;
    border-radius: 16px;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.20);
}

/*----- FOOTER -----*/
 #footerWrapper {
    background-color: #FFEBE7;
}

footer {
	clear: both;
	font-size: .7em;
	color: #878E88;
	text-align: center;
	padding: .6em;
}
footer a {
    color: #fff;
}

/* ----- OTHER STUFF ----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }